<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mappers.board">
	<select id="list" resultType="com.board.domain.BoardDTO">
		SELECT seq, subject, content, name, reg_date, readCount
		FROM superboard
		order by seq desc
	</select>
	
	<select id="maxSeq" resultType="java.lang.Integer">
		SELECT MAX(SEQ) 
		FROM superboard
	</select>
	
	<insert id="regi">
	 	INSERT INTO 
	 	SUPERBOARD(
	 		SEQ,
	 		SUBJECT,
	 		CONTENT,
	 		NAME,
	 		REG_DATE,
	 		READCOUNT
	 	) 
	 	VALUES(
	 		#{seq},
	 		#{subject},
	 		#{content},
	 		#{name},
	 		#{reg_date},
	 		0
	 	) 
	</insert>
	
	<select id="view" resultType="com.board.domain.BoardDTO">
	 	SELECT 
 			SEQ,
 			SUBJECT,
 			CONTENT,
 			NAME,
 			REG_DATE,
 			READCOUNT
		FROM
 			SUPERBOARD
 		WHERE
 			SEQ = #{seq}
	</select>
		
	<update id="updateReadCount">
		UPDATE SUPERBOARD
		SET 
			READCOUNT = READCOUNT + 1
		WHERE
			SEQ = #{seq}	 
	</update>
	
	<update id="update">
		UPDATE SUPERBOARD
		SET
			SUBJECT = #{subject},
			CONTENT = #{content}
		WHERE
			SEQ = #{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM SUPERBOARD WHERE SEQ = #{SEQ}
	</delete>
	
</mapper>