<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mappers.member">
	<select id="login" resultType="com.board.domain.MemberDTO">
	 	SELECT 
 			ID,
 			PASSWORD
		FROM
 			SUPERMEMBER
 		WHERE
 			ID = #{id}
 			AND PASSWORD = #{password}
	</select>
	
	<insert id="regist">
		INSERT INTO SUPERMEMBER(id,password,name) VALUES(
			#{id}, #{password}, #{name}
		)
	</insert>
	
	<select id="selectMemberById" resultType="String">
		SELECT *
		FROM SUPERMEMBER
		where id = #{id}
	</select>
</mapper>